body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*centers in the middle*/ 
.fixed-width {
    width: 1000px;
    margin: 0 auto;

}

#bold{
    font-weight: bold;
    font-size: 1.3em;
}

.top-bar{
    background-color: white;
    width: 100%;
    height: 40px;
    color: black;
    
}

.top-bar ul{
    margin: 0;
    padding: 0;
}
.top-bar ul li{
    float: left;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;
    border-right: 1px solid #B4B4B4;
    padding: 18px 20px 1px 20px;
    
}
.news-bar {
    background-color: #BB1919 ;
    width: 100%;
    height: 60px;
    color: white;
}

.news-bar p {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-family: Arial;
    position: relative;
    right: 2px;
}

.category-bar{
    background-color:#A91717;
    width: 100%;
    height:30px;
    color: white;
}

.category-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category-bar ul li {
    float: left;
    font-family: Arial;
    font-size: 0.9em;
    position: relative;
    right: 13px;
    top: 1px;
    border-right: 1px solid #BB4545;
    padding: 3px 10px 9px 10px;

}

.location-bar{
    background-color:white;
    width: 100%;
    height:40px;
    color: black;
}

.location-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.location-bar ul li {
    float: left;
    font-family: Arial;
    font-size: 0.8em;
    position: relative;
    right: 35px;
    padding: 0 12px 0 12px;
    border-right: 1px solid
    #B4B4B4;

}
.content{
    background-color:white;
    width: 100%;
    color: #000000;
}

.content h1 {
    color: #1167A8;
}

.content p {
    width: 215px;
}

.content a {
    text-decoration: none;
}

#content-links{
    margin-top: 60px;
    line-height: 1.7em;
    width: 250px;
}

.content img{
    float: right;
    position: relative;
    right: 330px;
}

#logo{
    float: left;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 7px;
    border-right: 1px solid #B4B4B4;
}

#sign-in {
    float: left;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px 80px 5px 10px;
    border-right: 1px solid #B4B4B4;

}

#search {
    float: left;
    width: 200px;
    padding: 10px;
}

#search input {
    height: 20px;
    padding-bottom: 2px;
    background-image: url("https://www.pinclipart.com/picdir/big/387-3875754_search-noun-project-search-logo-black-clipart.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right center; 
}

.watch-listen { 
    float: right;
    position: relative;
    bottom: 400px;
    right: 350px;
    border-left: 1px solid #B4B4B4;
    padding: 0 5px 0 10px;
}

.watch-listen h2 {
    font-family: Arial;
    font-weight: 100;
    margin: 0 0 20px 0;
    padding: 0;
}

.watch-listen img{
    position: relative;
    right: 5px;
}
